:root {
  --height: 3.2em;
}

.SideBarPaper {
  border-radius: 0.2em;
  margin: 0.6em;
  width: 90%;
  overflow: hidden;
  margin-top: 0;
  border: 1px solid transparent;
}

.SideBarPaper.active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  background-color: var(--darkFoldBlue);
  border: 1px solid #001f40;
}

.SideBarListContainer {
  max-height: var(--height);
  transition: all 0.5s;
}

.SideBarListContainer.open {
  max-height: 300em;
}
