.circleBtnParent {
    position: fixed;
    top: 1em;
    right: 1em;
    display: flex;
}

.circleBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circleBtn p {
    margin: 0;
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    color: #737373;
}

.circleBtnIconContainer {
    height: 40px;
    width: 40px;
    background: #fff;
    text-align: center;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #b7c1d3;
}

.circleBtnIconContainer:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.circleBtnIconContainer i {
    color: #B7C1D3;
}