.Grid.col5,
.Grid.col6,
.Grid.col2_1 {
    grid-template-columns: repeat(1, 1fr) !important;
}

.Grid.col7,
.Grid.col8 {
    grid-template-columns: repeat(2, 1fr) !important;
}

.Grid.col9,
.Grid.col10 {
    grid-template-columns: repeat(3, 1fr) !important;
}

.Grid.col11,
.Grid.col12 {
    grid-template-columns: repeat(4, 1fr) !important;
}