/* #DashboardBody {
  grid-template-columns: repeat(1, 1fr) !important;
} */

.Grid.col3 {
  grid-template-columns: repeat(1, 1fr) !important;
}

.Grid.col4 {
  grid-template-columns: repeat(2, 1fr) !important;
}

.Grid.col6 {
  grid-template-columns: repeat(3, 1fr) !important;
}

.Grid.col7,
.Grid.col8 {
  grid-template-columns: repeat(4, 1fr) !important;
}

.Grid.col9 {
  grid-template-columns: repeat(5, 1fr) !important;
}
