.snackBar {
    padding: 1em;
    font-size: 0.8em;
}

.snackBar.warning {
    background-color: #FFFAE2;
    border-left: 0.4em solid #FFE664;
}

.snackBar.dancer {
    background-color: #ffe2e2;
    border-left: 0.4em solid #ff6464;
}

.snackBar.success {
    background-color: #cfffd7;
    border-left: 0.4em solid #50d467;
}

.snackBar p {
    margin: 0;
}