.SideBarOption {
  justify-content: space-between;
  background-color: #274168;
  padding: 1em;
  position: relative;
}

.SideBarOption:hover {
  background-color: rgba(14, 50, 90, 1);
}

.SideBarOption div {
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
}

.SideBarOption p {
  margin: 0;
}

.SideBarOption i,
.SideBarOption span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
}

.SideBarOption span {
  font-size: 1rem;
  position: absolute;
  right: 1.4rem;
}

.SideBarOption .firstIcon {
  padding: 0 0.8em;
  color: rgba(255, 255, 255, 0.8);
}

.SideBarOption .secondIcon {
  font-size: 0.6em;
  padding: 0 0.8em;
  color: rgba(255, 255, 255, 0.8);
}
