:root {
  --fadedBlue: rgba(14, 50, 90, 0.4);
  --barHeight: 3em;
  --selectHoverColor: #0e325a;
  --darkBlue: #00254e;
  --SideBarWidth: 15.8em;
  --navBarHeight: 4.7em;
}

/* global classes */
.container {
  position: relative;
}

.Paper {
  background-color: #fff;
  min-height: 10em;
  border-radius: 2px;
}

#ContentArea {
  height: 100vh;
  min-width: calc(100% - var(--SideBarWidth));
  right: 0;
  top: 0;
  position: fixed;
}

.SelectBar {
  background-color: var(--fadedBlue);
  width: 100%;
  height: 2em;
  justify-content: flex-start;
  color: #fff;
}

.BottomBarText {
  padding-left: 1em;
  color: #fff;
  opacity: 0.6;
}

.SelectBar i {
  font-size: 1.6em;
}

.SelectBarParent:hover {
  background-color: var(--selectHoverColor);
}

/* headers */
#RoundedHeader {
  justify-content: space-between;
  margin: 0 1em;
  height: var(--barHeight);
}

.roundedHeaderText {
  padding: 0.4em 1em;
  border-radius: 10em;
}

/* SideBar */
#SideBar {
  width: var(--SideBarWidth);
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

#HamburgerMenu {
  background: var(--darkBlue);
  color: #fff;
  border-radius: 2px;
  margin: 0 1em;
}

#SideBarHead {
  height: var(--navBarHeight);
  width: var(--SideBarWidth);
  justify-content: space-between;
}

#SideBarHead img {
  height: 100%;
  margin-left: 1em;
}

.SideBarSection {
  background-color: var(--fadedBlue);
  width: 90%;
  border-radius: 2px;
  margin-bottom: 1em;
}

.innerBar {
  max-height: 3em;
  overflow: hidden;
  transition: all 1s;
}

.innerBar.open {
  max-height: 300em;
}

/* TopBar */
#TopBar {
  height: var(--navBarHeight);
}

/* Flap */
#TopLeftFold {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 6px 7px 10px -2px rgba(209,209,209,1);
  overflow: hidden;
}

.backFold {
  transform: rotate(45deg);
  background-color: #0e325a;
  position: relative;
  left: -100%;
  top: -143%;
}

/* Dashboard */
#Dashboard {
  width: 100%;
  min-height: calc(100% - var(--navBarHeight));
  background-color: #F5F5F5;
  flex-wrap: wrap;
}

#DashboardHead {
  border-bottom: 1px solid #ddd;
  height: 4em;
  color: #9FA7B3;
  justify-content: flex-start;
  padding-left: 4em;
}

#DashboardBody {
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  margin: 2.5% auto;
  height: calc((100vh - var(--navBarHeight) - var(--navBarHeight)) * 0.95);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 1rem;
  overflow: scroll;
}
