:root {
  --fadedBlue: rgba(14, 50, 90, 0.4);
  --barHeight: 3em;
  --selectHoverColor: #0e325a;
  --darkBlue: #00254e;
  --SideBarWidth: 15.8em;
  --navBarHeight: 4.7em;
  --paperPadding: 0.6em;
  --darkGreen: #1a89ac;
  --lightGreen: #56acc7;
}

body {
  font-family: 'Muli', sans-serif;
}

/* global classes */
.container {
  position: relative;
}

.DashPaperRoundedHead {
  display: inline-block;
  border-radius: 2em;
  padding: 0 0.4em;
  margin-bottom: 1em;
  align-self: baseline;
  text-transform: uppercase;
}

.lightGreen {
  background-color: var(--lightGreen);
}

.darkGreen {
  background-color: var(--darkGreen);
}

.DashPaperRoundedHead p {
  color: #fff;
  margin: 0.2em;
  font-size: 0.9em;
}

.DashPaperRoundedHead i {
  margin-right: 0.6em;
}

.Paper .SquareLabel {
  background-color: var(--lightGreen);
  color: #fff;
  padding: 0.4em 2em;
  border-radius: 3px;
  font-size: 0.9em;
  margin: 0.4em;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.SquareLabel.deactivated {
  background-color: #ffeaea;
  border: 1px solid #fc8e8e;
  color: #222;
}

.SquareLabel.active {
  background-color: #E1F5F4;
  color: #008280;
  border-color: #008280;
}

.Paper {
  background-color: #fff;
  border-radius: 4px;
  padding: 0.6em;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.PaperBottomBar {
  justify-content: space-around;
  align-self: end;
}

#TimeTrackBar {
  background-color: #fff;
  padding: 0.6em;

  display: grid;
  grid-template-columns: 1fr;
}

.IconButton {
  background-color: #f8f8f8;
  border-radius: 0.1rem;
  flex-direction: column;
  height: 4.4rem;
  width: 4.4rem;
  transition: all 0.5s;
  margin: auto 1rem;
}

.IconButton i {
  font-size: 1.6rem;
  color: #a7a7a7;
  transition: all 0.5s;
}

.IconButton p {
  font-size: 0.6rem;
  margin: 0.6rem 0;
  text-transform: uppercase;
  color: #000;
}

.IconButton.active {
  background-color: #0ba6a4;
  color: #fff;
}

.IconButton.active i {
  color: #fff;
}

.IconButton.active p {
  font-weight: 600;
}

#ContentArea {
  height: 100vh;
  min-width: calc(100% - var(--SideBarWidth));
  right: 0;
  top: 0;
  position: fixed;
  max-width: calc(100% - var(--SideBarWidth))
}

.SelectBar {
  background-color: var(--fadedBlue);
  width: 100%;
  height: 2em;
  justify-content: flex-start;
  color: #fff;
}

.BottomBarText {
  padding-left: 1em;
  color: #fff;
  opacity: 0.6;
}

.SelectBar i {
  font-size: 1.6em;
}

.SelectBarParent:hover {
  background-color: var(--selectHoverColor);
}

.SelectBarParent.notActive {
  background-color: #fc8e8e;
}

.SelectBarParent.selected {
  background-color: #0ba6a4;
}

/* headers */
#RoundedHeader {
  justify-content: space-between;
  height: var(--barHeight);
}

#RoundedHeader:hover {
  background-color: var(--selectHoverColor);
}

.roundedHeaderText {
  padding: 0.4em 1em;
  border-radius: 10em;
  margin-left: 1em;
}

/* SideBar */
#SideBar {
  width: var(--SideBarWidth);
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

#HamburgerMenu {
  background: var(--darkBlue);
  color: #fff;
  border-radius: 4px;
  margin: 0 1em;
}

#SideBarHead {
  height: var(--navBarHeight);
  width: var(--SideBarWidth);
  justify-content: space-between;
}

#SideBarHead img {
  height: 100%;
  margin-left: 1em;
}

.SideBarSection {
  background-color: var(--fadedBlue);
  width: 90%;
  border-radius: 4px;
  margin-bottom: 1em;
}

.innerBar {
  max-height: 3em;
  overflow: hidden;
  transition: all 1s;
}

.innerBar.open {
  max-height: 300em;
}

/* TopBar */
#TopBar {
  height: var(--navBarHeight);
}

#TopBar > * {
  margin: 1em;
}

#TopBar > .topBarOptions {
  position: absolute;
  left: 1em;
  align-self: baseline;
  margin-top: 1.4em;
}

#TopBar > .topBarOptions > i {
  color: #fff;
  font-size: 1.4em;
  opacity: 0.8;
}

.Toggle {
  color: var(--darkGreen);
}

.Toggle p {
  margin: 0;
  margin-left: 0.4em;
  color: #465b72 !important;
}

.Toggle i {
  font-size: 1.4em;
}

/* Flap */
#TopLeftFold {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 6px 7px 10px -2px rgba(209,209,209,1);
  overflow: hidden;
}

.backFold {
  transform: rotate(45deg);
  background-color: #0e325a;
  position: relative;
  left: -100%;
  top: -143%;
}

/* Dashboard */
#Dashboard {
  width: 100%;
  min-height: calc(100% - var(--navBarHeight));
  background-color: #F5F5F5;
  flex-wrap: wrap;
}

#DashboardHead {
  border-bottom: 1px solid #ddd;
  height: 4em;
  color: #9FA7B3;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 2em;
}

#dashboardBodyContainer {
  height: calc((100vh - var(--navBarHeight) - var(--navBarHeight)) * 0.95);
  overflow: scroll;
}

#DashboardBody {
  width: 95%;
  margin: 2.5% auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(20px, auto);
}

#dateTimeWeather {
  border-radius: 2em;
  height: 2.4em;
  width: 26em;
  background-color: #0e325a;
  color: #fff;
  border: 1px solid #001f40;
  margin: 0 auto;
}

#dateTimeWeather p {
  letter-spacing: 3px;
  font-size: 0.8em;
  line-height: 2.5;
}

#dateTimeWeather img {
  height: 2em;
}

#dateTimeWeather i {
  margin-right: 1em;
}

.AddBar {
  background-color: #fff;
  border-radius: 4px;
  padding: 0.6em;

  display: grid;
  grid-template-columns: 1fr;
}

.AddBar .SquareLabel {
  background-color: var(--lightGreen);
  color: #fff;
  padding: 0.4em 2em;
  border-radius: 3px;
  font-size: 0.9em;
  margin: 0.4em;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.AddInput p {
  margin: 1em 0 0 0;
  text-transform: uppercase;
  color: var(--darkGreen);
  font-weight: 400;
}

.AddInput input {
  font-size: 1.2em;
  height: 1.4em;
}

.AddInput i {
  color: var(--darkGreen);
  margin-left: 0.2em;
  font-size: 2em;
  position: relative;
  top: 0.1em;
}

.AddBar .SquareLabel.active {
  background-color: #E1F5F4;
  color: #008280;
  border-color: #008280;
}

.DatePickerTwoDate {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 12em;
  flex-direction: column;
  width: 14em;
  border: 1px solid #cecece;
}

.DatePickerTwoDate::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  left: 15%;
}

.DatePickerTwoDate > * {
  font-size: 2em;
}

.react-datepicker__input-container input {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.buttonSection {
  height: 5rem;
  width: 100%;
  margin-top: 0.4em;
}

.dateButtons {
  height: 5rem;
  width: 5.4rem;
  background-color: var(--lightGreen);
  margin: 0.4em;
  border-radius: 2px;
  flex-direction: column;
}
