.bigText {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}

.smallText {
    margin: 0;
    text-align: end;
    color: var(--midGrey);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
}
