.bigText {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}

.smallText {
    line-height: 20px;
    font-size: 13px;
    padding: 0.4em 1em;
    color: var(--midGrey);
    white-space: nowrap;
    color: var(--darkerGrey);
}
