.iconContainer {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconText {
    font-size: 1.8em;
}

.icon {
    background-color: var(--silver);
    height: 5em;
    width: 5em;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    border: 1px solid transparent;
}

.iconBtn:hover {
    /* border: 1px solid var(--midGrey); */
    outline: -webkit-focus-ring-color auto 1px;
}

.hasHelpText {
    margin-bottom: 0;
}

.icon:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.icon i {
    font-size: 3em;
}

.buttonHelpText {
    margin: 0;
    text-align: center;
    color: var(--midGrey);
}