
.IconButton {
  background-color: #f8f8f8;
  border-radius: 0.1rem;
  flex-direction: column;
  height: 4.4rem;
  width: 4.4rem;
  transition: all 0.5s;
  margin: auto 1rem;
}

.IconButton i {
  font-size: 1.6rem;
  color: #a7a7a7;
  transition: all 0.5s;
}

.IconButton p {
  font-size: 0.6rem;
  margin: 0.6rem 0;
  text-transform: uppercase;
  color: #000;
}

.IconButton.active {
  background-color: #0ba6a4;
  color: #fff;
}

.IconButton.active i {
  color: #fff;
}

.IconButton.active p {
  font-weight: 600;
}
