:root {
  --fadedBlue: rgba(14, 50, 90, 0.4);
  --barHeight: 3em;
  --selectHoverColor: #0e325a;
  --darkBlue: #00254e;
  --SideBarWidth: 12em;
  /* --SideBarWidthClosed: 4em; */
  --SideBarWidthClosed: 0em;
  --navBarHeight: 4.7em;
  --paperPadding: 0.6em;
  --darkGreen: #1a89ac;
  --lightGreen: #56acc7;

  --blueGrey: #A3AECE;
  --lightBlue: #3F5E83;
  --darkFoldBlue: #0e325a;
  --darkerGrey: #707070;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: var(--darkBlue);
}

/* global classes */
.container {
  position: relative;
}

.lightGreen {
  background-color: var(--lightGreen);
}

.darkGreen {
  background-color: var(--darkGreen);
}

.PaperBottomBar {
  justify-content: space-around;
  align-self: end;
}

#TimeTrackBar {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
}

/* SideBar */
#SideBar {
  width: var(--SideBarWidth);
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  /* overflow-y: scroll; */
  overflow: hidden;
  transition: width 0.4s;
}

#SideBar.shortMenu {
  width: 14em;
  position: relative;
  left: -14em;
  z-index: 100;
  background-color: #1B416D;
  background-image: url(../imgs/bg22.jpg);
}

#SideBar.shortMenu.open {
  left: 0em;
}

#SideBarHead {
  height: var(--navBarHeight);
  width: var(--SideBarWidth);
  justify-content: space-between;
  transition: width 0.4s;
}

#SideBarHead.shortMenu {
  /* width: var(--SideBarWidthClosed); */
  /* width: 4em; */
}

#SideBarHead img {
  height: 100%;
  margin-left: 1em;
}

/* TopBar */
#TopBar {
  height: var(--navBarHeight);
  justify-content: space-between;
}

#TopBar.shortMenu > #topBarLeft > #dateTimeWeather {
  display: none;
}

#TopBar.shortMenu > #topBarLeft > div:first-child {
  margin-left: 1em;
}

#TopBar > * {
  color: #fff;
}

#TopBar > .topBarOptions {
  position: absolute;
  left: 1em;
  align-self: baseline;
  margin-top: 1.4em;
}

#topBarLeft > * {
  margin-right: 1.6em;
}

.topBarMenuIcon {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.topBarMenuButton {
  margin-right: 1em;
}

/* Dashboard */
#Dashboard {
  /* min-width: 100%; */
  min-height: calc(100% - var(--navBarHeight));
  background-color: #F5F5F5;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  display: inline-block;
}

#Dashboard.shortMenu {
  min-height: 100%;
}

#DashboardHead {
  color: #0d325a;
  justify-content: space-between;
  width: 100%;
}

#DashboardHead.shortMenu {
  /* justify-content: center;
  padding-left: 0;
  padding-right: 0; */
}

#DashboardHead.shortMenu p {
  /* font-size: 0.86em; */
}

#DashboardTitleText {
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: 900;
  opacity: 0.2;
  letter-spacing: 3px;
}

#dashboardBodyContainer {
  /* height: calc((100vh - var(--navBarHeight) - var(--navBarHeight)) * 0.95); */
  /* overflow: scroll; */
  min-height: 100vh;
}

#dashboardBodyContainer.shortMenu {
  /* height: 96vh; */
}

#DashboardBody {
  /* width: 95%; */
  /* margin: 2.5% auto; */
  max-width: 80em;
  margin: 0 auto;
}

#dateTimeWeather {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 2em;
  height: 2.4em;
  width: 28em;
  background-color: var(--darkFoldBlue);
  color: #fff;
  border: 1px solid #001f40;
  /* margin: 0 auto; */
}

#dateTimeWeather p {
  letter-spacing: 3px;
  font-size: 0.8em;
  line-height: 2.5;
}

#dateTimeWeather img {
  height: 2em;
}

#dateTimeWeather i {
  margin-right: 0.4em;
  font-size: 1.3rem;
}

.AddBar {
  background-color: #fff;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
}

.AddInput p {
  margin: 1em 0 0 0;
  text-transform: uppercase;
  color: var(--darkGreen);
  font-weight: 400;
}

.AddInput i {
  color: var(--darkGreen);
  margin-left: 0.2em;
  font-size: 2em;
  position: relative;
  top: 0.1em;
}

.DatePickerTwoDate {
  background-color: var(--darkFoldBlue);
  height: 14em;
  flex-direction: column;
  color: #fff;
}

.dateLabel {
  font-size: 0.8rem;
  margin: 0;
  margin: 0.8em 0 0.4em 0;
}

.react-datepicker__input-container input {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.buttonSection {
  height: 5rem;
  width: 100%;
  margin-top: 0.4em;
}

.dateButtons {
  height: 5rem;
  width: 5.4rem;
  background-color: var(--lightGreen);
  margin: 0.4em;
  border-radius: 2px;
  flex-direction: column;
}

.DashboardSidePopOut {
  height: 100%;
  width: 6em;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -6.2em;
  flex-direction: column;
  transition: all 0.5s;
  border: 1px solid #cecece;
  background-color: #F5F5F5;
}

.DashboardSidePopOut.open {
  left: 0;
}

.LoadingScreen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
}

.opacityZero {
  opacity: 0;
}

.footer {
  height: 10em;
  width: 100%;
}

.halfViewPortHeight {
  max-height: 50vh;
  overflow-y: scroll;
}

#dashboardHeadMenu {
  justify-content: flex-start;
  padding: 0 1em;
  margin: 0;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 0.6em 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
}

#dashboardHeadMenu p {
  color: var(--darkerGrey);
  opacity: 0;
}

#dashboardHeadMenu a {
  display: inline;
  padding: 0.6em 0.6em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #66819f;
  text-transform: capitalize;
  margin: 0 0.4em;
  font-size: 84%;
}

#DashboardHead #dashboardHeadMenu p {
  padding: 0 0.5em;
  margin: 0;
  font-weight: 400;
  user-select: none;
}