.TimeSheet {
    /* background-color: var(--darkFoldBlue); */
    color: var(--blueGrey);
    padding: 1em;
}

.TimeSheetHead {
    height: 2em;
    /* background-color: var(--darkFoldBlue); */
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.TimeSheetBody {
    /* background-color: var(--lightBlue); */
    border-radius: 0.3rem;
    padding: 0.5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.TabletWithDoubleText {
    height: 2.4em;
    width: 6em;
    border-radius: 0.2rem;
    padding: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TabletWithDoubleText.selected {
    background-color: var(--darkFoldBlue);
    border-bottom: 2px solid var(--darkBlue);;
}

.tableTopText {
    font-size: 0.7em;
    font-weight: 800;
    margin: 0;
}

.tableBottomText {
    margin: 0;
    font-weight: 800;
}

.none {
    display: none;
}