.PaperHead {
  justify-content: space-between;
  background-color: rgba(14, 50, 90, 0.2);
  padding: 0.4em 0.8em;
}

.PaperHead.shortMenu {
  justify-content: center;
}
  
.PaperHead div {
  font-size: 0.8rem;
  color: #fff;
  padding: 0.3em 1em;
  background-color: rgba(14, 50, 90, 1);
  border-radius: 2em;
  text-transform: uppercase;
}

.PaperHead p {
  margin: 0;
  white-space: nowrap;
}

.PaperHead i {
  color: rgba(255, 255, 255, 0.8);
}