#App {
  width: 100vw;
  height: fit-content;
  justify-content: flex-start;
  background: fixed;
  background-image: url(imgs/bg.png);

  overflow: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  height: 100% !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ContentArea {
  height: 100vh;
  /* min-width: calc(100% - var(--SideBarWidth)); */
  right: 0;
  top: 0;
  position: fixed;
  /* max-width: calc(100% - var(--SideBarWidth)); */
  width: calc(100% - var(--SideBarWidth));
  transition: max-width 0.4s;
  overflow: scroll;
}

#ContentArea.shortMenu {
  /* min-width: calc(100% - var(--SideBarWidthClosed));
  max-width: calc(100% - var(--SideBarWidthClosed)) */
  width: calc(100% - var(--SideBarWidthClosed))
}

/* #ContentArea .paper {
  max-width: calc(74% - var(--navBarHeight));
  overflow: scroll;
}

#ContentArea.shortMenu .paper {
  max-width: calc(88% - var(--navBarHeight));
  overflow: scroll;
} */







:root {
  --grey: #DCE3EA;
  --dashBackgroundColor: #F5F5F5;
  --midGrey: #888;
  --lineLightGrey: #ddd;
  --green: #45B6B1;
  /* --blue: #65C3DF; */
  --blue: #34649a;
  --red: #FF6B6B;
  --mediumRed: #FF4444;
  --darkRed: #F00;
  --silver: #C4CCDB;
  --orange: #FC763C;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F5F5;
}


.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.greenText {
  color: var(--green);
}

.blueText {
  color: var(--blue);
}

.redText {
  color: var(--red);
}

.orangeText {
  color: var(--orange);
}

textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;

  /* removes top shadown on iOS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  /* removes top shadown on iOS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}