#App {
  width: 100vw;
  height: fit-content;
  justify-content: flex-start;
  background: fixed;
  background-image: url(imgs/bg.png);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ContentArea {
  height: 100vh;
  min-width: calc(100% - var(--SideBarWidth));
  right: 0;
  top: 0;
  position: fixed;
  max-width: calc(100% - var(--SideBarWidth))
}
